:root {
  /* Color */
  --color-white: white;
  --color-black: #363636;
  --color-orange: #e6851c;
  --color-deep-green: #005b49;
  --color-green: #4b8077;
  --color-light-green: #658681;
  --color-light-blue: #3caaed;
  --color-beige: #ffebcd;
  --color-light-beige: #fafdf3;
  /* Font size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --basic-space: 0.5rem;
  --medium-space: 1.875rem;
  --large-space: 5rem;
  --thin-border-size: 1px;
  --border-size: 3px;

  /* Animation */
  --animaion-duration: 300ms;
}

/* universial tag */
* {
  box-sizing: border-box;
}
body {
  font-family: 'M PLUS 2', sans-serif;
  margin: 0;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px;
}

a:hover {
  cursor: pointer;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  font-family: 'Abril Fatface', cursive;
  color: var(--color-deep-green);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  font-family: 'M PLUS 2', sans-serif;
  color: var(--color-green);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-green);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 12px 0;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /*z-index:1 - other elements can't cover the navbar */
}
#navbar.navbar--dark {
  background-color: var(--color-beige);
}

.navbar__menu {
  display: flex;
}

#navbar .navbar__logo a {
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
  color: var(--color-orange);
}

.navbar__menu__item {
  padding: 4px;
  margin-left: var(--medium-space);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-green);
  cursor: pointer;
}
.navbar__menu__item:hover {
  color: var(--color-deep-green);
  transform: scale(1.05);
}
.navbar__menu__item.active {
  border-bottom: var(--border-size) solid var(--color-orange);
  color: var(--color-deep-green);
  transform: scale(1.05);
}

/* home */

#home {
  background-color: var(--color-beige);
}

.home__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 100px var(--large-space) var(--medium-space) var(--large-space);
}

.home__info {
  flex: 1;
  text-align: center;
  margin-right: calc((var(--basic-space)) * 4);
}

.home__avatar {
  flex: 0 0 30%;
  width: 70%;
  margin-right: var(--medium-space);
  background: rgb(75, 128, 119);
  background: linear-gradient(
    312deg,
    rgba(75, 128, 119, 1) 0%,
    rgba(236, 132, 19, 1) 100%
  );
  border-radius: 50%;
  position: relative;
}
.home__avatar__image {
  width: 100%;
  border-radius: 50%;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: var(--basic-space);
  margin: calc((var(--basic-space)) * 2);
  border: var(--border-size) solid var(--color-orange);
  color: var(--color-deep-green);
  border-radius: 4px;
  transition: all 0.2s linear;
}
.home__contact:hover {
  background-color: var(--color-orange);
  color: var(--color-beige);
}
/* Section common */
.section {
  text-align: center;
  margin: auto;
  padding: 50px;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* about */
.about__stacks {
  display: flex;
  justify-content: space-around;
  margin: var(--large-space) 0;
}
.stack {
  flex: 0 0 30%;
}
.stack__icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  line-height: 130px;
  margin: auto;
  font-size: 70px;
  border: var(--border-size) solid var(--color-orange);
  color: var(--color-green);
}

.stack__icon:hover i {
  color: var(--color-orange);
  transition: var(--animaion-duration);
}

.stack__title {
  margin: var(--basic-space) 0;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-deep-green);
}

.job {
  display: flex;
  align-items: center;
}
.job img {
  width: 70px;
  height: auto;
  margin-right: var(--medium-space);
}

.job .info {
  text-align: left;
}
.job .info .title {
  font-size: var(--font-small);
}
.job .info .year {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-light-beige);
}
.skillsset {
  display: flex;
  margin: var(--medium-space) 0;
  color: whitesmoke;
}

.left-skillset {
  flex-basis: 60%;
  background-color: white;
  padding: var(--medium-space) 0;
  border: 1px solid var(--color-deep-green);
  border-right: none;
}

.right-skillset {
  flex-basis: 40%;
  background-color: white;
  border: 1px solid var(--color-deep-green);
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skillset__title {
  color: var(--color-deep-green);
  margin: 0 0 1.5rem 0;
}
.skill {
  padding: 10px var(--medium-space);
  flex-basis: 33%;
}
.skill_icon i {
  font-size: 6rem;
}
.skill_icon .fa-html5 {
  color: #ee522f;
}
.skill_icon .fa-css3-alt {
  color: #1a6cb4;
}
.skill_icon .fa-js-square {
  color: #efd830;
}
.skill_icon .fa-sass {
  color: #cd6799;
}
.skill_icon .fa-react {
  color: #61dafb;
}
.skill__description {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
}
.skill__title {
  font-weight: var(--weight-bold);
}

.tools {
  border-bottom: 1px solid var(--color-deep-green);
}
.tools,
.etc {
  color: var(--color-black);
  padding: 20px;
  height: 50%;
}

/* work */

.projects__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 300px;
  margin: 3rem 0;
}

.project__link {
  background-color: var(--color-light-beige);
  transition: all var(--animaion-duration) ease-in;

  position: relative;
}
.project__link:hover,
.project__link:hover .project__detail {
  opacity: 0.8;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  transform: translateY(0px);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  /* max-width/max-height -> to make image fit in the box */
}
.project__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animaion-duration) ease-in;
}

.project__detail h3,
.project__detail span {
  color: var(--color-beige);
}
.project__detail h3:after {
  content: '';
  margin: auto;
  margin-top: var(--basic-space);
  width: var(--medium-space);
  height: 2px;
  background-color: var(--color-beige);
  display: block;
}
.project__detail p {
  margin: 0;
  padding: var(--basic-space);
  color: var(--color-white);
  font-size: var(--font-small);
}
.project__code__btn {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: var(--basic-space);
  margin: calc((var(--basic-space)) * 2);
  border: var(--border-size) solid var(--color-orange);
  color: var(--color-deep-green);
  border-radius: 4px;
  transition: all 0.2s linear;
}

.project__code__btn:hover {
  background-color: var(--color-orange);
  color: var(--color-beige);
}
/* contact */
#contact {
  background-color: var(--color-orange);
  /* position: relative; */
}
.contact__email {
  color: var(--color-beige);
}
.contact__links {
  font-size: var(--font-large);
  transition: all var(--animaion-duration) ease-in;
}

.contact__links i {
  transition: all var(--animaion-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
}
.fa-linkedin {
  color: #0b66c2;
}
.fa-github {
  color: var(--color-black);
}
.contact__copyright {
  font-size: var(--font-micro);
}
.navbar__hamburger {
  position: absolute;
  right: var(--medium-space);
  top: 26px;
  font-size: var(--font-regular);
  color: var(--color-deep-green);
  display: none;
}
.arrow-up {
  width: 50px;
  height: 50px;
  font-size: var(--font-medium);
  color: var(--color-deep-green);
  position: fixed;
  right: 3%;
  bottom: 10%;
  border: var(--border-size) solid var(--color-deep-green);
  border-radius: 50%;
  opacity: 0;
  transition: opacity var(--animaion-duration) ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .navbar__hamburger {
    display: block;
    transition: all 200ms linear;
  }
  .navbar__hamburger:hover {
    transform: scale(1.1);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-beige);
  }
  .navbar__menu {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    height: 0;
    pointer-events: none;
    position: relative;
  }
  .navbar__menu.toggled {
    height: 100%;
    opacity: 1;
    pointer-events: all;
    transition: all 400ms;
  }

  .navbar__menu__item,
  .navbar__menu__item.active {
    text-align: center;
    margin-bottom: 8px;
    margin-left: 0px;
  }

  #navbar.navbar--dark {
    padding: calc(var(--basic-space) * 2);
  }
  .section {
    padding: 16px;
    padding-top: 50px;
  }
  .home__container {
    flex-direction: column;
  }
  .home__avatar,
  .home__info {
    margin: 0;
  }
  .home__avatar {
    width: 200px;
  }
  .about__stacks {
    flex-direction: column;
    margin-top: var(--medium-space);
    margin-bottom: var(--basic-space);
  }
  .stack {
    margin-bottom: var(--medium-space);
  }
  .skillsset {
    flex-direction: column;
  }

  .blur--overlay.toggled {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
  }
  .arrow-up {
    width: 30px;
    height: 30px;
    font-size: var(--font-regular);
    right: 3%;
    bottom: 3%;
  }
  .left-skillset {
    flex-basis: 60%;
    background-color: white;
    padding: var(--medium-space) 0;
    border: 1px solid var(--color-deep-green);
    border-bottom: none;
  }
  .skill {
    flex-basis: 50%;
  }
}
